
*{margin: 0;box-sizing: border-box;max-width: 100%;}
html{scrollbar-width: none;}
body {
  font-family: sans-serif;
  margin: 0;
  background: #002f2f;
  color: white;
  overflow-y: auto;line-height: 1.5;
}
a{text-decoration: none;font-family: monospace;color: khaki;}
#progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;
  background: #00ffcc;
  width: 0%;
  transition: width 0.4s ease;
  z-index: 10;
}
#slides-container{margin-bottom: 200px;display: flex;flex-direction: column;}
img{max-width: 600px;vertical-align: middle;display: none;}
figcaption{color: yellow;font-size: 20px;font-family: monospace;}
h1{font-family: Frijole,sans-serif;font-size: 3.2rem;}
.slide {
  display: block;
  font-size: 1.4em;
  padding: 0 40px 40px;
  /* width: 80%; */
  /* transform: skew(-5deg); */
  max-width: 800px;
  /* background: linear-gradient(60deg,#0668,#0008); */
  /* border-radius: 20px; */
  /* box-shadow: 0 0 20px #222; */
  /* border-bottom: solid 1px #222; */
  margin: 0px auto;
}
.slide:nth-of-type(even){transform: skew(0);}
blockquote{
    padding: 40px;background-color: #0004;border-left: solid 10px #666;text-align: left;width: 800px;margin: 0 auto;transform: rotate();
}
table{width: 100%;border-collapse: collapse;}
th,td{border: solid 1px lightblue;padding: 1rem;}
.code{background: #0009;padding: 1rem;color: yellowgreen;}
.visible {
  display: block;
}
